.name {
  color: #fff;
  font-family: 'Poiret One', cursive;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.title {
  color: #fff;
  font-family: 'Poiret One', cursive;
  padding: 0;
  margin: 0;
}
